.clear{
    clear: both;
}

.selectMon{
   background-color: aliceblue;
}
.selectMon ul li{
   
    
}
.leftAngleBracket{
  

}

.rightAngleBracket{
   
}

.YearMonth{

}

.omg{
    float:left;
}

.weekLine{
    width: 98vw;
    height: 15vh;
    background-color: blue;
    clear: both;
}
.weekLine div ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: blueviolet;
   
}

.sunDay{
    float:left;
    width: 14vw;
    height: 15vh;
    background-color: white;
}
.sunDay1{
    float:left;
    width: 14vw;
    height: 15vh;
    background-color: white;
}
.sunTitle{
    color: rgb(236, 49, 49);
}

.monDay{
    float:left;
    width: 14vw;
    height: 15vh;
    background-color: orange;
}
.monTitle{

}

.tuesDay{
    float:left;
    width: 14vw;
    height: 15vh;
    background-color: yellow;
}
.tusesTitle{

}

.wednesDay{
    float:left;
    width: 14vw;
    height: 15vh;
    background-color: green;
}
.wednesTitle{

}

.thursDay{
    float:left;
    width: 14vw;
    height: 15vh;
    background-color: blue;
}
.thursTitle{

}

.friDay{
    float:left;
    width: 14vw;
    height: 15vh;
    background-color: indigo;
}
.friTitle{
    
}

.saturDay{
    float:left;
    width: 14vw;
    height: 15vh;
    background-color: purple;
}
.saturTitle{
    
}