.selectMon{
    text-align: center; width: 100vw; height: 100px;
    background-color: aquamarine;
    margin: auto;font-weight: bold;
    text-align: center;
}
.selectMon ul li{
    position: relative; left: 45%;
    margin: 5px;   
    float: left;
    font-size: 40px;
    
}
.leftAngleBracket{
  

}

.rightAngleBracket{
  
  
    
}

.YearMonth{
 
    
}
