.CalForm{
    width:260px;
    height: 100px;
    text-align: left;
    padding: 5px;float:left;
}
.CalContent{
    overflow: hidden;
    text-overflow : ellipsis;
    width:260px;
    height: 25px;
}

.SunTitle{
    color:red;
}

.Title00{
    
}
.Title01{
    
}
.Title02{
    
}
.Title03{
    
}
.Title04{
    
}
.Title05{
    
}
.Title06{
    
}
.Title10{
    
}
.Title11{
    
}
.Title12{
    
}
.Title13{
    
}
.Title14{
    
}
.Title15{
    
}
.Title16{
    
}
.Title20{
    
}
.Title21{
    
}
.Title22{
    
}
.Title23{
    
}
.Title24{
    
}
.Title25{
    
}
.Title26{
    
    
}
.Title30{
    
}
.Title31{
    
}
.Title32{
    
}
.Title33{
    
}
.Title34{
    
}
.Title35{
    
}
.Title36{
    
}
.Title40{
    
}
.Title41{
    
}
.Title42{
    
}
.Title43{
    
}
.Title44{    }
.Title45{
    }
.Title46{
    }
.Content00{}
.Content01{}
.Content02{}
.Content03{}
.Content04{}
.Content05{}
.Content06{}
.Content10{}
.Content11{}
.Content12{}
.Content13{}
.Content14{}
.Content15{}
.Content16{}
.Content20{}
.Content21{}
.Content22{}
.Content23{}
.Content24{}
.Content25{}
.Content26{}
.Content30{}
.Content31{}
.Content32{}
.Content33{}
.Content34{}
.Content35{}
.Content36{}
.Content40{}
.Content41{}
.Content42{}
.Content43{}
.Content44{}
.Content45{}
.Content46{}

