.CalForm{
    width: 14vw;
    height: 10vh;
    float:left;
}
.CalForm div{
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 18px;
}
.CalTitle{
    
}

.CalContent{
    font-size: 16px;
}

.clear{clear:both;}

.Sun{
 
}

.SunTitle{
    overflow:hidden;
    text-overflow:ellipsis;
}

.Mon{

}

.MonTitle{
    overflow:hidden;
    text-overflow:ellipsis;
}

.Tue{
    
}

.TueTitle{
    overflow:hidden;
    text-overflow:ellipsis;
}

.Wed{

}

.WedTitle{
    overflow:hidden;
    text-overflow:ellipsis;
}

.Thu{

}

.ThuTitle{
    overflow:hidden;
    text-overflow:ellipsis;
}

.Fri{

}

.FriTitle{
    overflow:hidden;
    text-overflow:ellipsis;
}

.Sat{

}

.SatTitle{
    overflow:hidden;
    text-overflow:ellipsis;
}

